body {
    padding-top: 50px;
    padding-bottom: 20px;
    border-top: solid 25px #000;
    color: green;
    font-size: .85em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: blue;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html {
    background-color: green;
    margin: 0;
    padding: 0;
}

header, footer, hgroup, nav, section {
    display: block;
}

.title-image img {
    background-color:mediumaquamarine;
    overflow:auto;
}
@media (min-width: 768px) {
    .title-image img {
        max-width: 90%;
        height: auto;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 965px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 89%;
    }
}

.review {
    padding: 2px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.review h4 {
    color: maroon;
    padding: 5px;
    background: #cccc99;
}

.navbar-brand {
    background: url(/Content/Design/3D-Wood-Wall-Paneling-900-American-Walnut.jpg) no-repeat top left;
    background-size: 100%;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
}